.nav_link {
/*     margin-right: 20px; */
    padding: 10px 20px;
}

.footer { 
    text-align: center;
    position: relative; 
    bottom: 40px; 
    height:60px;   /* Height of the footer */
    background:#6cf;
}
